In [27]:
#Exercises
import pandas as pd
import numpy as np

In [44]:
#Exercise 1
subjects = ["math", "physic", "history"]
grades = [9,9,8]
serie = pd.Series(data = grades, index = subjects)

In [12]:
serie

math       9
physic     9
history    8
dtype: int64

In [13]:
physic_grade = serie["physic"]

In [24]:
#print("La nota de física es un",physic_grade)
print("La nota de física es un {}".format(physic_grade))

La nota de física es un 9

In [40]:
#Exercise 2
jan_sales = np.random.randint(100,500, 3)
jan_sales

In [41]:
feb_sales = np.random.randint(100,500, 3)
feb_sales

array([378, 244, 341])

In [46]:
march_sales = np.random.randint(100,500,3)
march_sales

array([232, 100, 319])

In [51]:
rows = ["jan_sales", "feb_sales", "march_sales"]
columns = ["office1", "office2", "office3"]
sales = [jan_sales, feb_sales, march_sales]

In [52]:
dataframe = pd.DataFrame(sales, rows, columns)

In [53]:
dataframe

             office1  office2  office3
jan_sales        222      190      243
feb_sales        378      244      341
march_sales      232      100      319

In [56]:
office1_jan_sales = dataframe['office1']['jan_sales']

In [57]:
office1_jan_sales

222

In [62]:
print("Las ventas de enero para la oficina 1 son de ${}".format(office1_jan_sales), "dólares")

Las ventas de enero para la oficina 1 son de $222 dólares