In [2]:
#Join Dataframes
import numpy as np
import pandas as pd

In [3]:
dictionary = {"A": [1,2,3], "B": [4,5,6]}
dataframe1 = pd.DataFrame(dictionary, index=["i1", "i2", "i3"]) #index es para decirle los índices a usar
dataframe1

    A  B
i1  1  4
i2  2  5
i3  3  6

In [4]:
dictionary2 = {"C": [11,12,13], "D": [14,15,16]}
dataframe2 = pd.DataFrame(dictionary2, index=["i1", "i2", "i3"])
dataframe2

     C   D
i1  11  14
i2  12  15
i3  13  16

In [9]:
dataframe1.join(dataframe2) #Hacer un join, por que coinciden los índices

    A  B   C   D
i1  1  4  11  14
i2  2  5  12  15
i3  3  6  13  16