In [1]:
#Operaciones con dataframes
import numpy as np
import pandas as pd

In [3]:
diccionary = {"A": [11,12,10,12], "B": [14,18,16,17]}
dataframe = pd.DataFrame(diccionary, index=["i1", "i2", "i3", "i4" ])
dataframe

     A   B
i1  11  14
i2  12  18
i3  10  16
i4  12  17

In [5]:
dataframe["A"].unique() #Mostrar los valores únicos de una columna

array([11, 12, 10], dtype=int64)

In [6]:
dataframe["A"].nunique() #Mostrar el número de valores únicos de una columna

3

In [9]:
dataframe["A"].value_counts() #Mostrar cuantas veces aparece un valor

12    2
11    1
10    1
Name: A, dtype: int64

In [10]:
def multiply(x):
    return x * 2

In [11]:
dataframe

     A   B
i1  11  14
i2  12  18
i3  10  16
i4  12  17

In [12]:
dataframe["A"].apply(multiply) #Aplicar la función multiplicar sobre una columna

i1    22
i2    24
i3    20
i4    24
Name: A, dtype: int64

In [14]:
dataframe['A'].apply(lambda x: x * 2) #Aplicar la función lamda sobre una columna

i1    22
i2    24
i3    20
i4    24
Name: A, dtype: int64

In [16]:
dataframe.drop("B", axis=1) #Borrar una columna

     A
i1  11
i2  12
i3  10
i4  12

In [23]:
dataframe.drop("i2") #Borrar una fila, no es necesario el parámetro axix

     A   B
i1  11  14
i3  10  16
i4  12  17

In [25]:
dataframe.columns #Saber todas las columnas que tiene

Index(['A', 'B'], dtype='object')

In [28]:
dataframe.index #Saber todas las filas que tiene

Index(['i1', 'i2', 'i3', 'i4'], dtype='object')

In [36]:
dataframe.sort_values("B") #Ordenar los valores por columna

     A   B
i1  11  14
i3  10  16
i4  12  17
i2  12  18