In [1]:
#Series
import numpy as np
import pandas as pd

In [9]:
tag = ['a','b','c']
data = [1,2,3]
pd.Series(data = data, index = tag) #Crear serie

a    1
b    2
c    3
dtype: int64

In [20]:
array = np.arange(0,3)
tag = ["Venta1", "Venta2", "Venta3"]
serie = pd.Series(array, tag) #Crear serie a partir de array. No es necesario poner data = ni index =, despues que se pasen los datos en orden

In [21]:
serie["Venta2"]

1

In [23]:
serie[2]

2

In [25]:
data2 = ['informatica', 300, "texto", 900]
pd.Series(data2)

0    informatica
1            300
2          texto
3            900
dtype: object

In [54]:
serie1 = pd.Series([1,2,3],["a", "b", "c"])
serie2 = pd.Series([4,8,9],["a", "b", "c"])

In [55]:
serie_sum = serie1 + serie2

In [56]:
serie_sum

a     5
b    10
c    12
dtype: int64

In [57]:
serie1

a    1
b    2
c    3
dtype: int64

In [58]:
serie2

a    4
b    8
c    9
dtype: int64

In [93]:
serie_sum

a     5
b    10
c    12
dtype: int64